[project]
	description = System configuration validation tool
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group citellus-core
[access "refs/for/refs/*"]
	read = group citellus-core
	read = group user/Robin Černín (zerodayz)
	push = group citellus-core
	push = group user/Robin Černín (zerodayz)
	label-Code-Review = -2..+2 group citellus-core
	label-Code-Review = -2..+2 group user/Robin Černín (zerodayz)
	label-Verified = -1..+1 group citellus-core
	label-Verified = -1..+1 group user/Robin Černín (zerodayz)
	rebase = group citellus-core
	rebase = group user/Robin Černín (zerodayz)
	removeReviewer = group citellus-core
	removeReviewer = group user/Robin Černín (zerodayz)
	submit = group citellus-core
	submit = group user/Robin Černín (zerodayz)
[access "refs/heads/*"]
	read = group citellus-core
	read = group user/Robin Černín (zerodayz)
	create = group citellus-core
	create = group user/Robin Černín (zerodayz)
	push = group citellus-core
	push = +force group user/Robin Černín (zerodayz)
	pushMerge = group citellus-core
	pushMerge = group user/Robin Černín (zerodayz)
[access "refs/tags/*"]
	push = group citellus-core
	push = group user/Robin Černín (zerodayz)
	push = +force group user/Robin Černín (zerodayz)
