[project]
	description = Framework to validate configuration and log files with bash, python, ruby and others.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pablo Iranzo Gómez (iranzo)
	owner = group citellus-core
[access "refs/for/refs/*"]
	read = group user/Pablo Iranzo Gómez (iranzo)
	push = group user/Pablo Iranzo Gómez (iranzo)
	label-Code-Review = -2..+2 group user/Pablo Iranzo Gómez (iranzo)
	label-Verified = -1..+1 group user/Pablo Iranzo Gómez (iranzo)
	rebase = group user/Pablo Iranzo Gómez (iranzo)
	removeReviewer = group user/Pablo Iranzo Gómez (iranzo)
	submit = group user/Pablo Iranzo Gómez (iranzo)
[access "refs/heads/*"]
	read = group user/Pablo Iranzo Gómez (iranzo)
	create = group user/Pablo Iranzo Gómez (iranzo)
	push = +force group user/Pablo Iranzo Gómez (iranzo)
	pushMerge = group user/Pablo Iranzo Gómez (iranzo)
[access "refs/tags/*"]
	push = group user/Pablo Iranzo Gómez (iranzo)
	push = +force group user/Pablo Iranzo Gómez (iranzo)
