---
name: Update Semver

on:
  push:
    tags:
      - '*.*.*'
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  update-semver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: haya14busa/action-update-semver@v1.2.1
        with:
          major_version_tag_only: false  # (optional, default is "false")
